<div class="relative-container">
    <div *ngIf="isLoading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>
    <button class="btn-create" mat-raised-button (click)="isTaskCreation = !isTaskCreation">Create task</button>
    <app-task-create *ngIf="isTaskCreation" (taskCreated)="addTaskToList($event)"></app-task-create>
    <div *ngFor="let task of tasks">
        <app-task [task]="task" (taskDelete)="deleteTask($event)"></app-task>
    </div>
</div>

