.example-container {
    text-align: center
}

.form-container {
    margin-top: 10px;
    margin-left: 5%;
    width: 400px; 
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(128,128,128,1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(128,128,128,1);
    box-shadow: 2px 2px 5px 0px rgba(128,128,128,1);
}

.form-container h1{
    text-align: center;
}

.form-field {
    display: block
}

.form-button {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}