<div class="form-container relative-container">
    <div *ngIf="isLoading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>
    <h1>New team</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <mat-form-field class="form-field">
            <mat-label>Name</mat-label>      
            <textarea matInput type="text" formControlName="name"></textarea>
            <mat-error *ngIf="form.controls.name.touched && form.controls.name.invalid">
                <span *ngIf="form.controls.name.errors.required">Name is required. </span>
                <span *ngIf="form.controls.name.value.length > maxNameLength">Max length is {{maxNameLength}}.</span>
            </mat-error>
        </mat-form-field>
        
        <mat-form-field class="form-field">
            <mat-label>Created At</mat-label> 
            <input matInput [matDatepicker]="createdAtPicker" formControlName="createdAt">
            <mat-datepicker-toggle matSuffix [for]="createdAtPicker"></mat-datepicker-toggle>
            <mat-datepicker #createdAtPicker></mat-datepicker>
            <mat-error *ngIf="form.controls.createdAt.touched && form.controls.createdAt.invalid">
                <span *ngIf="form.controls.createdAt.errors.required">CreatedAt is required. </span>
                <span>Incorrect date format.</span>
            </mat-error>
        </mat-form-field>

        <div class="form-button">
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
        </div>
    </form>
</div>
