<div class="relative-container">
    <div *ngIf="isLoading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>
    <button class="btn-create" mat-raised-button (click)="isUserCreation = !isUserCreation">Create user</button>
    <app-user-create *ngIf="isUserCreation" (userCreated)="addUserToList($event)"></app-user-create>
    <div *ngFor="let user of users">
        <app-user [user]="user" (userDelete)="deleteUser($event)"></app-user>
    </div>
</div>