<div class="form-container relative-container">
    <div *ngIf="isLoading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>
    <h1>New user</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <mat-form-field class="form-field">
            <mat-label>First name</mat-label>      
            <input matInput type="text" formControlName="firstName">
            <mat-error *ngIf="form.controls.firstName.touched && form.controls.firstName.invalid">
                <span *ngIf="form.controls.firstName.errors.required">First name is required. </span>
                <span *ngIf="form.controls.firstName.value.length > maxNameLength">Max length is {{maxNameLength}}.</span>
                <span *ngIf="form.controls.firstName.errors.pattern">FirstName can contain only latin letters.</span>
            </mat-error>
        </mat-form-field>
       
        <mat-form-field class="form-field">
            <mat-label>Last name</mat-label>      
            <input matInput type="text" formControlName="lastName">
            <mat-error *ngIf="form.controls.lastName.touched && form.controls.lastName.invalid">
                <span *ngIf="form.controls.lastName.errors.required">Last name is required. </span>
                <span *ngIf="form.controls.lastName.value.length > maxNameLength">Max length is {{maxNameLength}}.</span>
                <span *ngIf="form.controls.lastName.errors.pattern">Last name can contain only latin letters.</span>
            </mat-error>
        </mat-form-field>
        
        <mat-form-field class="form-field">
            <mat-label>Email</mat-label>      
            <input matInput type="text" formControlName="email">
            <mat-error *ngIf="form.controls.email.touched && form.controls.email.invalid">
                <span *ngIf="form.controls.email.errors.required">Email is required. </span>
                <span *ngIf="form.controls.email.value.length > maxEmailLength">Max length is {{maxEmailLength}}.</span>
                <span *ngIf="form.controls.email.errors.email">Invalid email.</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>City</mat-label>      
            <input matInput type="text" formControlName="city">
            <mat-error *ngIf="form.controls.city.touched && form.controls.city.invalid">
                <span *ngIf="form.controls.city.errors.required">Last name is required. </span>
                <span *ngIf="form.controls.city.value.length > maxNameLength">Max length is {{maxNameLength}}.</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>Birthday</mat-label> 
            <input matInput [matDatepicker]="birthdayPicker" formControlName="birthday">
            <mat-datepicker-toggle matSuffix [for]="birthdayPicker"></mat-datepicker-toggle>
            <mat-datepicker #birthdayPicker></mat-datepicker>
            <mat-error *ngIf="form.controls.birthday.touched && form.controls.birthday.invalid">
                <span *ngIf="form.controls.birthday.errors.required">Birthday is required. </span>
                <span>Incorrect date format.</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>Registered</mat-label> 
            <input matInput [matDatepicker]="registeredAtPicker" formControlName="registeredAt">
            <mat-datepicker-toggle matSuffix [for]="registeredAtPicker"></mat-datepicker-toggle>
            <mat-datepicker #registeredAtPicker></mat-datepicker>
            <mat-error *ngIf="form.controls.registeredAt.touched && form.controls.registeredAt.invalid">
                <span *ngIf="form.controls.registeredAt.errors.required">Registered is required. </span>
                <span>Incorrect date format.</span>
            </mat-error>
        </mat-form-field>

        <div class="form-button">
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
        </div>
    </form>
</div>
