<div class="form-container relative-container">
    <div *ngIf="isLoading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>
    <h1>Edit project</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-form-field class="form-field">
            <mat-label>Name</mat-label>      
            <textarea matInput type="text" formControlName="name"></textarea>
            <mat-error *ngIf="form.controls.name.touched && form.controls.name.invalid">
                <span *ngIf="form.controls.name.errors.required">Name is required. </span>
                <span *ngIf="form.controls.name.value.length > maxNameLength">Max length is {{maxNameLength}}.</span>
            </mat-error>
        </mat-form-field>
       
        <mat-form-field class="form-field">
            <mat-label>Description</mat-label> 
            <textarea matInput type="text" formControlName="description"></textarea>
            <mat-error *ngIf="form.controls.description.touched && form.controls.description.invalid">
                <span *ngIf="form.controls.description.errors.required">Description is required. </span>
                <span *ngIf="form.controls.description.value.length > maxDescLength">Max length is {{maxDescLength}}.</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>Deadline</mat-label> 
            <input matInput [matDatepicker]="deadlinePicker" formControlName="deadline">
            <mat-datepicker-toggle matSuffix [for]="deadlinePicker"></mat-datepicker-toggle>
            <mat-datepicker #deadlinePicker></mat-datepicker>
            <mat-error *ngIf="form.controls.deadline.touched && form.controls.deadline.invalid">
                <span *ngIf="form.controls.deadline.errors.required">Deadline is required. </span>
                <span>Incorrect date format.</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>Team id</mat-label> 
            <input matInput type="number" formControlName="teamId">
            <mat-error *ngIf="form.controls.teamId.touched && form.controls.teamId.invalid">
                <span *ngIf="form.controls.teamId.value < 1">Minimum value is 1.</span>
            </mat-error>
        </mat-form-field>

        <div class="form-button">
            <button mat-raised-button color="primary" (click)="cancelUpdate()">Cancel</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>     
        </div>
    </form>
</div>