
<mat-card>
    <mat-card-title>
        <div>Project {{project.id}} | {{project.name}}</div>
        <div *ngIf="!isProjectUpdating" class="actions">
            <span (click)="isProjectUpdating = true">Edit</span>
            |
            <span (click)="onDelete()">Delete</span>
        </div>
    </mat-card-title>

    <app-project-update *ngIf="isProjectUpdating" [project]="project" 
        (updateCanceled)="isProjectUpdating=false"
        (projectUpdated)="updateList($event)">
    </app-project-update>

    <mat-card-subtitle *ngIf="!isProjectUpdating">{{project.description}}</mat-card-subtitle>
    <mat-card-content *ngIf="!isProjectUpdating">
        <div class="property-container">
            <div class="name">Created:</div>
            <div class="value">{{project.createdAt | customDate }}</div>
        </div>
        <div class="property-container">
            <div class="name">Deadline:</div>
            <div class="value">{{project.deadline | customDate }}</div>
        </div>
        <div class="property-container">
            <div class="name">Author:</div>
            <div class="value">{{project.authorId}}</div>
        </div>
        <div class="property-container">
            <div class="name">Team:</div>
            <div class="value">{{project.teamId}}</div>
        </div>
    </mat-card-content>
</mat-card>    
