mat-card {
    margin-top: 10px;
    margin-bottom: 10px;
}

mat-card-title {
    display: flex;
    justify-content: space-between;
}

mat-icon {
    font-size: 1.2em;
    text-align: center;
    height: auto;
    width: auto;
}