<mat-card>
    <mat-card-title>
        <div>Task {{task.id}} | {{task.name}}</div>
        <div *ngIf="!isTaskUpdating" class="actions">
            <span (click)="isTaskUpdating = true">Edit</span>
            |
            <span (click)="onDelete()">Delete</span>
        </div>
    </mat-card-title>

    <app-task-update *ngIf="isTaskUpdating" [task]="task" 
        (updateCanceled)="isTaskUpdating=false"
        (taskUpdated)="updateList($event)">
    </app-task-update>

    <mat-card-subtitle *ngIf="!isTaskUpdating">{{task.description}}</mat-card-subtitle>
    <mat-card-content *ngIf="!isTaskUpdating">
        <div class="property-container">
            <div class="name">Created:</div>
            <div class="value">{{task.createdAt | customDate }}</div>
        </div>
        <div class="property-container">
            <div class="name">Finished:</div>
            <div class="value">{{task.finishedAt | customDate }}</div>
        </div>
        <div class="property-container">
            <div class="name">Project:</div>
            <div class="value">{{task.projectId}}</div>
        </div>
        <div class="property-container">
            <div class="name">State:</div>
            <div [appTaskStateColor]="task.state" class="value">
                {{ task.state | taskState }}
                <mat-icon></mat-icon>
            </div>
        </div>
        <div class="property-container">
            <div class="name">Performer:</div>
            <div class="value">{{task.performerId}}</div>
        </div>
    </mat-card-content>
</mat-card>    
