.example-container {
    text-align: center
}

.form-container {
    margin-top: 10px;
    width: 400px; 
    padding: 10px;
    border-radius: 5px;
}

.form-container h1{
    text-align: center;
}

.form-field {
    display: block
}

.form-button {
    width: 100%;
    display: flex;
    justify-content: space-between;
}