<div class="relative-container">
    <div *ngIf="isLoading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>
    <button class="btn-create" mat-raised-button (click)="isTeamCreation = !isTeamCreation">Create team</button>
    <app-team-create *ngIf="isTeamCreation" (teamCreated)="addTeamToList($event)"></app-team-create>
    <div *ngFor="let team of teams">
        <app-team [team]="team" (teamDelete)="deleteTeam($event)"></app-team>
    </div>
</div>

    
