<button class="btn-create" mat-raised-button (click)="isProjectCreation = !isProjectCreation">Create project</button>
<app-project-create *ngIf="isProjectCreation" (projectCreated)="addProjectToList($event)"></app-project-create>
<div class="relative-container">
    <div *ngIf="isLoading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngFor="let project of projects">
        <app-project [project]="project" (projectDelete)="deleteProject($event)"></app-project>
    </div>
</div>


