<mat-card>
    <mat-card-title>
        <div>Team {{team.id}} | {{team.name}}</div>
        <div *ngIf="!isTeamUpdating" class="actions">
            <span (click)="isTeamUpdating = true">Edit</span>
            |
            <span (click)="onDelete()">Delete</span>
        </div>
    </mat-card-title>

    <app-team-update *ngIf="isTeamUpdating" [team]="team" 
        (updateCanceled)="isTeamUpdating=false"
        (teamUpdated)="updateList($event)">
    </app-team-update>

    <mat-card-content *ngIf="!isTeamUpdating">
        <div class="property-container">
            <div class="name">Created:</div>
            <div class="value">{{team.createdAt | customDate }}</div>
        </div>
    </mat-card-content>
</mat-card>    

