<mat-card>
    <mat-card-title>
        <div>User {{user.id}} | {{user.firstName}} {{user.lastName}}</div>
        <div *ngIf="!isUserUpdating" class="actions">
            <span (click)="isUserUpdating = true">Edit</span>
            |
            <span (click)="onDelete()">Delete</span>
        </div>
    </mat-card-title>

    <app-user-update *ngIf="isUserUpdating" [user]="user" 
        (updateCanceled)="isUserUpdating=false"
        (userUpdated)="updateList($event)">
    </app-user-update>

    <mat-card-content *ngIf="!isUserUpdating">
        <div class="property-container">
            <div class="name">Email:</div>
            <div class="value">{{user.email }}</div>
        </div>
        <div class="property-container">
            <div class="name">City:</div>
            <div class="value">{{user.city }}</div>
        </div>
        <div class="property-container">
            <div class="name">Birthday:</div>
            <div class="value">{{user.birthday | customDate }}</div>
        </div>
        <div class="property-container">
            <div class="name">Registered:</div>
            <div class="value">{{user.registeredAt | customDate }}</div>
        </div>
        <div class="property-container">
            <div class="name">Team:</div>
            <div class="value">{{ user.teamId }}</div>
        </div>
    </mat-card-content>
</mat-card>    