/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.btn-no-styles {
    padding: 0;
    border: none;
	outline: inherit;
    background: none;
	color: inherit;
	font: inherit;
	cursor: pointer;
}

.property-container {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    align-items: center;
}

.property-container .name {
    padding-right: 5px;
}

.property-container .value {
    display: flex;
    align-items: center;
}

.actions {
    font-size: 0.5em;
    color: rgb(24, 24, 224);
}

.actions span {
    padding-left: 2px;
    padding-right: 2px;
    cursor: pointer;
}

.mat-spinner-wrapper 
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
}

.relative-container {
    position: relative;
}

.mat-spinner-wrapper  mat-spinner {
    position: fixed; 
    top: 50%;
}
    