<mat-toolbar color="primary">
    <div class="header">
        <mat-card-title class="logo">
            Company
        </mat-card-title>
    
        <div class="menu">
            <div [routerLink]="['/users']">Users</div>
            <div [routerLink]="['/teams']">Teams</div>
            <div [routerLink]="['/tasks']">Tasks</div>
            <div [routerLink]="['/projects']">Projects</div>
        </div> 
    </div>
</mat-toolbar>
<div class="spacer"></div>
<main>
    <router-outlet></router-outlet>
</main>