mat-toolbar {
    position: fixed;
    z-index: 1;
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}

.menu {
    display: flex;
    flex-direction: row-reverse;
}

.menu div {
    margin-right: 20px;
    cursor: pointer;
}

.spacer {
    height: 100px;
}

main {
    width: 60%;
    margin: auto;
}