<div class="form-container relative-container">
    <div *ngIf="isLoading" class="mat-spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>
    <h1>New task</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <mat-form-field class="form-field">
            <mat-label>Name</mat-label>      
            <textarea matInput type="text" formControlName="name"></textarea>
            <mat-error *ngIf="form.controls.name.touched && form.controls.name.invalid">
                <span *ngIf="form.controls.name.errors.required">Name is required. </span>
                <span *ngIf="form.controls.name.value.length > maxNameLength">Max length is {{maxNameLength}}.</span>
            </mat-error>
        </mat-form-field>
       
        <mat-form-field class="form-field">
            <mat-label>Description</mat-label> 
            <textarea matInput type="text" formControlName="description"></textarea>
            <mat-error *ngIf="form.controls.description.touched && form.controls.description.invalid">
                <span *ngIf="form.controls.description.errors.required">Description is required. </span>
                <span *ngIf="form.controls.description.value.length > maxDescLength">Max length is {{maxDescLength}}.</span>
            </mat-error>
        </mat-form-field>
        
        <mat-form-field class="form-field">
            <mat-label>Created At</mat-label> 
            <input matInput [matDatepicker]="createdAtPicker" formControlName="createdAt">
            <mat-datepicker-toggle matSuffix [for]="createdAtPicker"></mat-datepicker-toggle>
            <mat-datepicker #createdAtPicker></mat-datepicker>
            <mat-error *ngIf="form.controls.createdAt.touched && form.controls.createdAt.invalid">
                <span *ngIf="form.controls.createdAt.errors.required">CreatedAt is required. </span>
                <span>Incorrect date format.</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>Finished At</mat-label> 
            <input matInput [matDatepicker]="finishedAtPicker" formControlName="finishedAt">
            <mat-datepicker-toggle matSuffix [for]="finishedAtPicker"></mat-datepicker-toggle>
            <mat-datepicker #finishedAtPicker></mat-datepicker>
            <mat-error *ngIf="form.controls.finishedAt.touched && form.controls.finishedAt.invalid">
                <span *ngIf="form.controls.finishedAt.errors.required">FinishedAt is required.</span>
                <span>Incorrect date format.</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>Project id</mat-label> 
            <input matInput type="number" formControlName="projectId">
            <mat-error *ngIf="form.controls.projectId.touched && form.controls.projectId.invalid">
                <span *ngIf="form.controls.projectId.errors.required">Project id is required. </span>
                <span *ngIf="form.controls.projectId.value < 1">Minimum value is 1.</span>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-field">
            <mat-label>Performer id</mat-label> 
            <input matInput type="number" formControlName="performerId">
            <mat-error *ngIf="form.controls.performerId.touched && form.controls.performerId.invalid">
                <span *ngIf="form.controls.performerId.errors.required">Performer id is required. </span>
                <span *ngIf="form.controls.performerId.value < 1">Minimum value is 1.</span>
            </mat-error>
        </mat-form-field>

        <div class="form-button">
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Submit</button>
        </div>
    </form>
</div>
